/* Variables */
:root{
  --primary: #FFCC70;
  --secondary: #FFFADD;
  
  
}

/* Style reset */
* {
  margin: 0;
  padding: 0;
  
}

body{
  text-decoration: none;
}

li{
  list-style-type: none;
}

/* Base style */ 
body{
  overflow-x: hidden;
  background-color: #F5F5F5;
  color: #121212;
  
}

h1,h3, li, p{
  font-size: 1.3em;
}

h2, strong{
  font-size: 1.4em;
}











#shoe-banner{
  width: 100%;
  height: 60vh;
  display: none;
}






