/* Variables */
:root {
  --primary: #86b6f6;
  --secondary: #b4d4ff;
  --tertiary: #176b87;
}

/* font 

  font-family: "Montserrat", sans-serif;
  font-family: "Bebas Neue", sans-serif;
  */

/* Style reset */
* {
  margin: 0;
  padding: 0;
}

body,
a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* Base style */
body {
  overflow-x: hidden;
  background-color: #eef5ff;
  height: 5000px;
}

h1,
h3 {
  font-size: 1.5em;
  font-family: "Bebas Neue", sans-serif;
  color: #000;
}

h2,
strong,
li,
p,
a {
  font-size: 1.1em;
  font-family: "Montserrat", sans-serif;
  color: #000;
}

/* Start of styling for navigation */

#navigation {
  width: 100%;
  height: 10%;
  position: fixed;
  top: 0;
  background-color: #eef5ff;
}

#nav_brand {
  display: flex;
  align-items: center;
  margin: 10px 0 0 10px;
  width: 0;
}

.nav_container {
  margin-top: 0.5em;
}

.nav_list {
  width: 80%;
  height: 100vh;
  position: fixed;
  background-color: var(--tertiary);
  left: -100%;
  padding: 25px 0 25px;
  transition: left 0.3s ease;
}

.checkbtn,
.closebtn {
  font-size: 1.5em;
  line-height: 50px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 15px;
  color: #000;
}

input[type="checkbox"] {
  display: none;
}

#check:checked ~ .nav_list {
  left: 0;
}

.nav_link {
  text-align: center;
  margin: 15px;
}

.nav_button {
  width: 60%;
  height: 35px;
  margin: 5px;
  border-radius: 35px;
  border: 1px solid #eef5ff;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.login_btn {
  background-color: var(--primary);
}

.signup_btn {
  background-color: var(--secondary);
}

/* End of styling for navigation  */

/* Start of styling for main container */

#landing_page {
  margin-top: 15%;
}

#shoe-banner {
  width: 100%;
  height: 60vh;
}
